@model CLDVSem2Part3.Models.OrderModel
@{
    ViewData["Title"] = "Order";
    <p>Enter details of your Order.</p>

}

<body>
    <form action="/Order/Index" method="post">
        <p>Insert new order description</p>
        <input type="text" name="Description" placeholder="Description" required>
       
        <button type="submit">Submit</button>
    </form>
</body>